body {
    text-align: center;
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 2rem;
}

.container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: #d95980;
}

.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #63acc0;
}

.blue {
    background-color: #819ff9;
}

.flash {
    background-color: white;
}